
<div class="six columns offset-by-five">
	<h1>Brad Wertman</h1>

<h2>About Me</h2>
<a href="/contact"><img class="scale-with-grid" src="bacon_cheesecake.jpg"></a>
<ul>
	<li class="one columns">Hang with my boys</li>
	<li class="one columns">Cook delish food</li>
	<li class="one columns">Downhill ski</li>
	<li class="one columns">Enjoy gourmet coffee beverages</li>
	<li class="one columns">Code it up!</li>
</ul>
</div>
