<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Brad</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/base.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/layout.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/skeleton.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
</head>
<body class="container">
	<div>
		<%= yield %>
	</div>
</body>
</html>